<div class="container ">
    
    <h1 class="prueba">about me</h1>


    <app-imagen></app-imagen>
    <div class="contenedor-imagen">
        
        <div class="descripcion-imagen">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, ipsum cupiditate! Culpa minima similique obcaecati, a voluptatum rem asperiores autem itaque fuga, voluptates incidunt sed distinctio quia atque animi quae dolore ad. Aliquid facere ex, deserunt dolore earum rerum vero consequuntur eum fugiat dolorum ut a ipsam perferendis facilis voluptates.</p>
  
        </div>


    </div>


    <h1 class="prueba text-center">hard skills</h1>
    <app-hard-skills></app-hard-skills>
</div>
