.container{
    
    padding: 0;
    border: 5px solid greenyellow;
    
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}
/*contenedor de acordeones*/
/*.cursos{
    padding-left: 20%;
    padding-right: 20%;
    
    


    border:  5px solid #EEEEEE;
    border-radius: 10px;
}*/
/* configuracion acordeon*/
.accordion-item{
    
    margin-bottom: 2rem;
}

.accordion-button{
    background-color:#6D9886 ;
    border: 5px solid orange;
    /*background-color: rgba(255, 255, 255, 0.3);
    height: 400px;
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255, 255, 255, 0.5); 
    border-radius: 5px;*/
    
    
    
}




.accordion-body{
    background-color: white;
    
}

.texto-accordion{
    /*text-align: center;*/
    /*margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;*/
    text-align: center;
    display: inline-block;
    width: 100%;
}



/*configuracion cartas*/

.card{
    border: 5px solid orangered;
    border-radius: 10px;
}

.card-body{
    background-color: paleturquoise;
}
.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.card-link{
    text-align: center;
    display: inline-block;
    width: 100%;
}



/* logos*/


#logojs{
    color: #F0DB4F;
    padding-right: 0.5rem;
}

#logo-py{
    color: green;
    padding-right: 0.5rem;
}

#logo-html{
    color: #F06529;
    padding-right: 0.5rem;
}

#logo-css{
    color: #66D3FA;
    padding-right: 0.5rem;
}

#logo-iot{
    color: blue;
    padding-right: 0.5rem;
}

#logo-database{
    color: rgb(255, 217, 0);
    padding-right: 0.5rem;
}

#logo-comp{
    color: black;
    padding-right: 0.5rem;
}
#card-interior-icon{
    width: 100%;
    text-align: center;

}