<div class="container">

    <div class="cursos">

        <div class="accordion accordion-flush" id="accordionFlushExample">


          <div class="accordion-item">

            <h2 class="accordion-header" id="flush-headingOne">
              
              <button class="accordion-button collapsed  " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">

                <h3 class="texto-accordion " >
                    
                    <span><i id="logojs" class="fab fa-js-square"></i> </span> JavaScript
                
                </h3>

              </button>

            </h2>

            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
  
              <div class="accordion-body d-flex flex-colum flex-wrap ">


                  <!-- cartas-->      
                <div class="card" style="width: 18rem;">
                  <div class="card-body">

                    
                    <i id="card-interior-icon" class="fas fa-graduation-cap fa-4x "></i>

                    <h5 class="card-title">curso asincronismo javascript</h5>
                    
                    <p class="card-text">Platzi  </p>

                    <p class="card-text">fecha  </p> 

                    <a href="#" class="card-link  ">Enlace a Certificado</a>
                    
                  </div>
                </div>
              
              
              
              </div>
            </div>
          </div>

          







          
          <div class="accordion-item">

            <h2 class="accordion-header" id="flush-headingTwo">

              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">

                <h3 class="texto-accordion " >
                    
                    <span><i id="logo-py" class="fab fa-python"></i> </span> Python
                
                </h3>

                
              </button>

            </h2>

            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">

              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>

            </div>
          </div>




          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">

                <h3 class="texto-accordion " >
                    
                    <span><i id="logo-html" class="fab fa-html5"></i><i id="logo-css" class="fab fa-css3-alt"></i> </span> HTML CSS
                
                </h3>

                
              </button>

            </h2>

            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">

              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>

            </div>
          </div>
  
  
  
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">

              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">

                <h3 class="texto-accordion " >
                    
                    <span><i id="logo-iot" class="fas fa-wifi"></i> </span> IoT
                
                </h3>

                
              </button>

            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">

              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>

            </div>
          </div>
  


          <div class="accordion-item">

            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                

                <h3 class="texto-accordion " >
                    
                    <span><i id="logo-database" class="fas fa-database"></i> </span> Data Base
                
                </h3>

              </button>

            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">

              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>

            </div>
          </div>  
  



  
  
  


          <div class="accordion-item">

            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">


                <h3 class="texto-accordion " >
                    
                    <span><i id="logo-comp" class="fab fa-github"></i> </span> Complementos
                
                </h3>
                
              </button>

            </h2>

            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">

              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>

            </div>
          </div>
  
        
  
  
  
  
  
  
        </div>
      </div>


</div>
