<div class="container ">

    <div class="titulo" data-aos="fade-up"
    data-aos-duration="1000">
        <h1 >Experiencia - Educacion</h1>
    </div>

    <div class="cartas">
        <div class="experiencia ">
            
                <div class="timeline">
                  <ul>
                    <li  data-aos="zoom-in" data-aos-duration="2000">
                      <div class="timeline-content" >
                        <h3 class="date">dd/mm/aaaa</h3>
                        <h1>entrada 1</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium labore.</p>
                      </div>
                    </li>
                    <li data-aos="zoom-in" data-aos-duration="2000">
                      <div class="timeline-content">
                        <h3 class="date">dd/mm/aaaa</h3>
                        <h1>entrada 2</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium labore.</p>
                      </div>
                    </li>
                    <li data-aos="zoom-in" data-aos-duration="2000">
                      <div class="timeline-content" >
                        <h3 class="date">dd/mm/aaaa</h3>
                        <h1>entrada 3</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium labore.</p>
                      </div>
                    </li>
                    <li data-aos="zoom-in" data-aos-duration="2000">
                      <div class="timeline-content">
                        <h3 class="date">dd/mm/aaaa</h3>
                        <h1>entrada 4</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium labore.</p>
                      </div>
                    </li>
                  </ul>
                </div>
            
        </div>


        <div class="educacion ">
            
            <div class="timeline">
              <ul>
                <li data-aos="zoom-in" data-aos-duration="2000">
                  <div class="timeline-content">
                    <h3 class="date">dd/mm/aaaa</h3>
                    <h1>entrada 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium labore.</p>
                  </div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="2000">
                  <div class="timeline-content">
                    <h3 class="date">dd/mm/aaaa</h3>
                    <h1>entrada 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium labore.</p>
                  </div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="2000">
                  <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>entrada 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium labore.</p>
                  </div>
                </li>
                <li data-aos="zoom-in" data-aos-duration="2000">
                  <div class="timeline-content">
                    <h3 class="date">dd/mm/aaaa</h3>
                    <h1>entrada 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium labore.</p>
                  </div>
                </li>
              </ul>
            </div>
        
    </div>
    </div>
</div>
