.title{
    text-align: center;
    margin: 10%;
}


.carousel-inner{
    border-radius: 20px;
    border:3px solid #B70E21;
    
}



.carousel-indicators button{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
}



.fab{
    
    color: none;
    padding: 1rem;

    color: #EEEEEE
}