<div class="title" >
    <h1 class="wow animate__animated animate__slideInUp animate__slow">Proyectos</h1>
</div> 



<!--carousel 1-->
<div class="carousel slide wow animate__animated animate__fadeIn animate__slow" id="carousel-01" data-bs-ride="carousel">

    <!--indicacores carousel-->

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel-01" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel-01" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel-01" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>


    <div class="carousel-inner shadow-lg">

        <!--proyecto 1-->

        <div class="carousel-item xx active" data-interval="2000">

            <img src="../../assets/portada portafolio.png" alt="proyecto1" class="d-block w-100 imagen-carousel" >

            <!--comentarios-->
            <div class="carousel-caption">
                <h2>Proyecto portafolio </h2>

                <div class="iconos-proyecto text-center  ">
                    <img src="../../assets/icons/angular-icon.svg" alt="" width="30rem">
                    <img src="../../assets/icons/w3_html5-icon.svg" alt="" width="30rem">
                    <img src="../../assets/icons/w3_css-icon.svg" alt="" width="30rem">
                    <img src="../../assets/icons/javascript-1.svg" alt="" width="25rem">
                </div>
                <!--modal proyecto portafolio-->
                <app-descripciones></app-descripciones>

            </div>

        </div>

        <!--proyecto 2-->

        <div class="carousel-item xx " data-interval="2000">

            <img src="../../assets/portada senku.png" alt="proyecto2" class="d-block w-100 imagen-carousel" >

             <!--comentarios-->
             <div class="carousel-caption">
                <h2>Senku </h2>

                <div class="iconos-proyecto text-center  ">
                    <img src="../../assets/icons/python-icon.svg" alt="" width="40rem">
                    
                </div>
                <!--modal proyecto portafolio-->
                <app-descripcion-senku></app-descripcion-senku>

            </div>

        </div>


        <!--proyecto 3-->

        <div class="carousel-item " data-interval="2000">

            <img src="../../assets/portada anubis.png" alt="proyecto1" class="d-block w-100 imagen-carousel">
            
            <div class="carousel-caption">
                <h2>Anubis </h2>

                <div class="iconos-proyecto text-center  ">
                    <img src="../../assets/icons/angular-icon.svg" alt="" width="30rem">
                    <img src="../../assets/icons/java-icon.svg" alt="" width="30rem">
                    <img src="../../assets/icons/mysql-ar21.svg" alt="" width="70rem">
                    <img src="../../assets/icons/springio-ar21.svg" alt="" width="60rem">
              
                    
                    
                    
                </div>
                <!--modal proyecto portafolio-->
                <app-descripcion-anubis></app-descripcion-anubis>

            </div>

            

        </div>

    </div>

    <!--controles carousel-->

    <a href="#carousel-01" class="carousel-control-prev" data-bs-slide="prev">

        <span class="carousel-control-prev-icon" aria-hidden="true"> </span>

        <span class="sr-only"> anterior </span>

    </a>

    <a href="#carousel-01" class="carousel-control-next" data-bs-slide="next">

        <span class="carousel-control-next-icon" aria-hidden="true"></span>

        <span class="sr-only"> siguiente </span>

    </a>

</div>
