.container{
    border:5px solid white;
 
}
.carousel-indicators button{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: yellowgreen;
}

.fab{
    
    color: none;
    padding: 1rem;

    color: #EEEEEE
}