/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    width: 100%;
    background: #202020;
    color: white;
    
    padding: 20px;
}

.all-container{
    width: 100%;
    
    margin: auto;
}
.container-body{
    display: flex;
    justify-content: space-between;
    
}

.columna-1{
    max-width: 40%;
    height: auto;
}

.columna-1 h1{
    font-size: 22px;
}
.columna-1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
    max-width: 100%;
}

.columna-2{
    max-width: 40%;
    padding: 5px;
}

.columna-2 h1{
    font-size: 22px;
}

.fila{
    margin-top: 20px;
    display: flex;
    width: 100%;
    
}
.icon{
    width: 2rem;
    height: 5rem;
}

.fila p{
    margin-left: 20px;
    margin-top: 10px;
    
}

@media screen and ( max-width: 500px){
    .container-body{
        display: block;
    }

    .columna-2{
        margin-top: 40px;
    }
}*/

.container{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1.5 rem;
    color: white;
    text-align: center;
}

.info-contacto{
    padding: 1rem;
}

.info-contacto h1{
    padding: 1rem;
}

.fila{
    display: flex;
    justify-content: center;
    text-align: start;
}
.fila i{
    padding-right: 1rem;
}