<!--<div class="container">   
    <div class="all-container">
        <div class="container-body">

            <div class="columna-1">
                <h1>mas informacion</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa a harum voluptates perspiciatis soluta rerum minus nihil illum nam magni aut alias et architecto repellat odio, qui quos accusamus autem numquam nulla nobis? Nam asperiores voluptatum minus! Est aliquam facere, accusantium cum repellat impedit id sint! Itaque repellendus dicta voluptatibus fuga.</p>
            </div>

            <div class="columna-2">

                <h1>informacion contacto</h1>

                <div class="direccion fila">
                    <i class="fas fa-home fa-2x icon"></i>
                    <p>Argentina Salta capital Amancay 155 Villa las Rosas</p>
                </div>

                <div class="telefono fila">
                    <i class="fas fa-mobile-alt fa-2x icon"></i>
                    <p>+54 3886 599877</p>
                </div>

                <div class="email fila">
                    <i class="far fa-envelope fa-2x  icon"></i>
                    <p>gastonmonasterio1998@gmail.com</p>
                </div>

                <div class="linkedin fila">
                    <i class="fab fa-linkedin fa-2x icon"></i>
                    <p>https://www.linkedin.com/in/gast%C3%B3n-gabriel-monasterio-3b3612198/</p>
                </div>

            </div>
        </div>

    </div> 
    
    
 

</div>     -->

<div class="container">
    <div class="info-contacto">
        <h1 class="wow animate__animated animate__slideInUp animate__slow">Informacion de Contacto</h1>

        <div class="direccion fila wow animate__animated animate__slideInLeft animate__slow" >
            <i class="fas fa-home fa-2x icon"></i>
            <p>Argentina Salta capital Amancay 155 Villa las Rosas</p>
        </div>

        <div class="telefono fila wow animate__animated animate__slideInRight animate__slow">
            <i class="fas fa-mobile-alt fa-2x icon"></i>
            <p>+54 3886 599877</p>
        </div>

        <div class="email fila wow animate__animated animate__slideInLeft animate__slow">
            <i class="far fa-envelope fa-2x  icon"></i>
            <p>gastonmonasterio1998@gmail.com</p>
        </div>

        <div class="linkedin fila wow animate__animated animate__slideInRight animate__slow">
            <i class="fab fa-linkedin fa-2x icon"></i>
            <p>https://www.linkedin.com/in/gast%C3%B3n-gabriel-monasterio-3b3612198/</p>
        </div>
    </div>
</div>