<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#anubis">
    Mas Informacion
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="anubis" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h3 class="modal-title" id="exampleModalLabel">Anubis</h3>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
  
         <div class="descripcion-anubis">
          <h4>¿Que es Anubis?</h4>
          <p>Anubis es un programa para el control y reconocimieto de perros para el departamento de seguridad de la empresa Ledesma </p>
  
          <h4>objetivos de la aplicacion</h4>
          <p>El objetivo de Anubis es llevar un registro de los perros que se usan en el departamento de seguridad y tener la funcion de generar un codigo QR para ser colocada en sus collares y de esa manera facilitar al nuevo personal el reconocimiento individual de cada perro dado a que los perros usados en el departamento de seguridad son de la misma raza y color dificultando su reconocimiento individual  </p>
  
          <h4>Sobre el programa</h4>
  
          <p>El programa forma parte de mi examen final integral del programa de capacitacion argentina programa y para el desarrolo del mismo se usa las siguientes tecnologias </p>
          <p>Frontend: HTML 5, CSS 3, Angular, Boostrap </p>
          <p>Backend: Java, spring boot</p>
          <p>Data base: mySQL</p>
  
          
         
          
  
            <h5>Repositorio Anubis</h5>
  
            <a class="btn btn-outline-primary" href="" role="button" target="_blank">
              <i class="fab fa-github-square  "></i> Ir al Repositorio
            </a>
  
         </div>
         
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         
       </div>
     </div>
   </div>
  </div>
