<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#senku">
  Mas Informacion
</button>

<!-- Modal -->
<div class="modal fade" id="senku" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h3 class="modal-title" id="exampleModalLabel">Modal title</h3>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body">

       <div class="descripcion-senku">
        <h4>¿Que es senku?</h4>

        <p>Senku (conocido también con el nombre de Solitario o Uno Solo, y en inglés como Peg Solitaire es un juego de tablero solitario abstracto de origen francés Originalmente era llamado "un soldado" o "uno solo",</p>
        <h4> Reglas</h4>

        <p>Se juega con un tablero con diferentes formas según el modelo o el lugar de origen. Al inicio del juego están todos los espacios ocupados, excepto por uno. El jugador debe mover una pieza por vez. Las piezas solo pueden moverse capturando mediante un "salto" sobre otra, como en las damas. Solo se puede capturar en horizontal o en vertical, nunca en diagonal. Así, al principio, solo pocas tienen posibilidad de moverse, capturando una. El objetivo del juego es eliminar todas las piezas, dejando solo una en el tablero.</p>

        <h4>Sobre el programa</h4>

        <p>El juego Senku se programo en un 100% con Python y con una biblioteca auxiliar llamada Numpy para el manejo de las matrices  </p>

        <h5>Pantalla principal</h5>

        <img src="../../assets/senku/pantalla principal.png" alt="pantalla principal">

        <p>En esta pantalla se visualiza 3 opciones la primera es para comenzar un nuevo juego, la segunda es para cargar una partida anterior y la tercera para salir </p>
        <p>El ingreso de opciones se hace por teclado</p>

        <h5>Iniciando un nuevo juego</h5>

        <p> Al iniciar un juego nos dara a elejir entre tres tableros </p>

        <img src="../../assets/senku/seleccion tablero.png" alt="seleccion tablero">

        <p>Primer tablero</p>

        <img src="../../assets/senku/primer tablero.png" alt="">

        <p>Segundo tablero</p>

        <img src="../../assets/senku/segundo tablero.png" alt="">

        <p>Tercer tablero</p>

        <img src="../../assets/senku/tercer tablero.png" alt="">

        
       
        <h5>A Jugar</h5>

        <p>Con el tablero cargado, el usuario deberá seleccionar una ficha del tablero especificando su 
          fila y columna. Si la ficha no es válida, se le indicará por qué, y si es válida, se le indicarán 
          los movimientos posibles.</p>

          <img src="../../assets/senku/movimiento tablero1.png" alt="">
          <img src="../../assets/senku/movimiento tablero2.png" alt="">
          <br>

          <h5>Repositorio Senku</h5>

          <a class="btn btn-outline-primary" href="https://github.com/gastonm1998/Senku" role="button" target="_blank">
            <i class="fab fa-github-square  "></i> Ir al Repositorio
          </a>

       </div>
       
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
       
     </div>
   </div>
 </div>
</div>