*{
    margin: 0;
    padding: 0;
    border: 0;
}


.container{
    display: inline;
}


.about-me{
    border: 5px solid rgb(253, 250, 42);
    width: 100%;
    height: auto;
    background-color: #ececec;
}


.proyectos{

    border: 5px solid teal;
    width: 100%;
    height: auto;
    background-color: #ececec ;
    
}

.contact{
    border: 5px solid red;
    width: 100%;
    height: 500px;
    background-color: #1D4E89 ;
}
.nav-scrollspy .active{
    background-color: red;
}