.container{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 20%;

    /*height: 12%;*/
    height: auto;
    padding-top: 3rem;
    
    
}
.texto{
    margin: 0;
    color: #EEEEEE;
    
    text-align: center ;
    
    font-size: 1.3rem;
}