<div class="container d-flex flex-colum flex-wrap ">


    <div class="about-me  wow animate__animated animate__slideInUp animate__fast " >
        <h1>About Me</h1>
    </div>

    <div class=" contenedor-imagen  ">
        <img src="../../../assets/perro png.png" class=" imagen_presentacion shadow-lg" alt="imagen del creador">
    </div>
    


    <div class="contenedor-texto shadow">
        
      <div class="descripcion-imagen shadow">
            <p> 💻 Soy un estudiante en la carrera de análisis de sistemas y constantemente me encuentro estudiando para potenciar mis conocimientos en el desarrollo web <br>

                ⌨ Actualmente tengo conocimientos en lenguajes cómo Python, JavaScript, HTML, CSS, GO, C, sistemas de control de versiones como GitHub y IoT.<br>
                
                🎯 Soy una persona curiosa, autodidacta, me gusta estar en constante aprendizaje, el trabajar en equipo y tengo una pasión muy grande por el mundo de la tecnología<br>
                
                🎮 Otros de mis pasatiempos favoritos es trabajar en en armado de PC Gaming y Workstation<br>
                
                ⚡️ Tengo también conocimientos y experiencia en electrónica y electricidad<br>
                
               </p>
      
      </div>
      
      
    </div>

</div>

