<div class="container d-flex flex-colum flex-wrap ">


    <div class="about-me">
        <h1>About Me</h1>
    </div>

    <div class=" contenedor-imagen  ">
        <img src="../../../assets/perro png.png" class=" imagen_presentacion shadow-lg" alt="imagen del creador">
    </div>



    <div class="contenedor-texto shadow">
        
      <div class="descripcion-imagen shadow">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, ipsum cupiditate! Culpa minima similique obcaecati, a voluptatum rem asperiores autem itaque fuga, voluptates incidunt sed distinctio quia atque animi quae dolore ad. Aliquid facere ex, deserunt dolore earum rerum vero consequuntur eum fugiat dolorum ut a ipsam perferendis facilis voluptates.</p>
      
      </div>
      
      
    </div>

</div>

